<div class="row gy-4">



    <div class="col-xl-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up"><a href="/reservar/ruta/8">
            <article>
                <div class="post-img"><img src="/fotos/configuracionroja-65cd1f013c2e4.png" class="img-fluid"></div>
                <h2 class="title">dsfdsf</h2>
                <div class="d-flex align-items-center"></div>
            </article>
        </a></div>
    <div class="col-xl-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up"><a href="/reservar/ruta/9">
            <article>
                <div class="post-img"><img src="/fotos/usuariosblanco-65cd1f395c2cd.png" class="img-fluid"></div>
                <h2 class="title">aaaa</h2>
                <div class="d-flex align-items-center"></div>
            </article>
        </a></div>
    <div class="col-xl-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up"><a href="/reservar/ruta/10">
            <article>
                <div class="post-img"><img src="/fotos/configuracionroja-65d340f9a1100.png" class="img-fluid"></div>
                <h2 class="title">Mancha Real de cine</h2>
                <div class="d-flex align-items-center"></div>
            </article>
        </a></div>
    <div class="col-xl-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up"><a href="/reservar/ruta/11">
            <article>
                <div class="post-img"><img src="/fotos/configuracionroja-65d34101aaac2.png" class="img-fluid"></div>
                <h2 class="title">Mancha Real de cine</h2>
                <div class="d-flex align-items-center"></div>
            </article>
        </a></div>
    <div class="col-xl-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up"><a href="/reservar/ruta/12">
            <article>
                <div class="post-img"><img
                        src="/fotos/Black-and-green-Music-Festival-modern-user-brochure-65d3b029899c5.png"
                        class="img-fluid"></div>
                <h2 class="title">Jaén a fondo</h2>
                <div class="d-flex align-items-center"></div>
            </article>
        </a></div>
    <div class="col-xl-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up"><a href="/reservar/ruta/13">
            <article>
                <div class="post-img"><img src="/fotos/carrera-65d5a4ec45cad.jpg" class="img-fluid"></div>
                <h2 class="title">Jaén Paraíso Interior</h2>
                <div class="d-flex align-items-center"></div>
            </article>
        </a></div>
</div>