{% extends 'home/home.html.twig' %}

{% block title %}Error 404 - Página no encontrada{% endblock %}ç

{% block body %}
    <h1>Error 404</h1>
    <p>Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
{% endblock %}