{% extends 'home/home.html.twig' %}

{% block title %}Error 403 - Acceso denegado{% endblock %}รง

{% block body %}
    <h1>Error 403</h1>
    <p>Lo sentimos, no tiene permisos para acceder a este recurso.</p>
{% endblock %}