{% extends 'home/home.html.twig' %}

{% block title %}Error 500 - Error interno del servidor{% endblock %}

{% block body %}
    <h1>Error 500</h1>
    <p>Lo sentimos, ha habido un problema y no se ha podido cargar el recurso.</p>
{% endblock %}